
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">首页</a>
           >
			商品制品类型管理
        </li>
       
    </ul>
</div>
<h3 class="page-title"> 商品制品类型管理
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-puzzle-piece"></i> 商品制品类型列表 </div>
                <div class="actions">
               
						<input id="searchName" ng-model="wareTypePrdCondition.nameCn" class="form-control input-sm input-small input-inline" placeholder="请输入类目中文名" aria-controls="sample_1" type="search">
						<select id="searchEnabled" ng-model="wareTypePrdCondition.isEnable" class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">全部状态</option>
							<option value="1">启用</option>
							<option value="0">禁用</option>
						</select>
						<button class="btn btn-sm green table-group-action-submit" ng-click="reloadTable()">
							<i class="fa fa-check"></i> 搜索
						</button>
					
                
                    <a href="#/wareTypePrd/form/" class="btn btn-outline green">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480"> 新增</span>
                    </a>     
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" >
					<table class="table table-striped table-bordered table-hover table-checkable" id="wareTypePrdListDataTable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="2%">
                            	   No.
                            	</th>
                                <th width="18%">分类中文名称</th>
                                <th width="18%">分类英文名称</th>
                                <th width="10%">排序号</th>
                                <th width="10%">管理员</th>
                                <th width="15%">更新时间</th>
                                <th width="8%">状态</th>
                                <th width="5%">
                                   	 请选择
                                </th>
                            </tr>                         
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
    
</div>
<!-- END MAIN CONTENT -->
