
<div class="tab-pane" id="tab_1">
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form id="prodTypeWidInfoForm" action="" enctype="multipart/form-data" class="form-horizontal">
			<div class="form-body">
				<div hidden="hidden" class="form-group" style="height: 30px;">
					ID:<input type="text" class="form-control" id="prodTypeWidId" name="id" ng-model="prodTypeWid.id" />
				</div>
				<h3 class="form-section">产品宽度类型</h3>
				<div class="form-group">
					<label class="control-label col-md-3">中文名 <span class="required"> * </span>
					</label>
					<div class="col-md-4">
						<input type="text" data-required="1" class="form-control" id="nameCn" name="nameCn" placeholder="中文名" ng-model="prodTypeWid.nameCn" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">英文名 <span class="required"> * </span>
					</label>
					<div class="col-md-4">
						<input type="text" data-required="1" class="form-control" id="nameEn" name="nameEn" placeholder="英文名" ng-model="prodTypeWid.nameEn" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">排序号 <span class="required"> * </span>
					</label>
					<div class="col-md-4">
						<input type="number" style="width: 100px" data-required="1" class="form-control" id="priority" name="priority" placeholder="排序号" ng-model="prodTypeWid.priority"  />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">权限</label>
					<div class="col-md-4">
						<div class="radio-list" style="margin-left: 15px;">
							<label class="radio-inline"> <input type="radio" name="isEnable" id="optionsRadios1" ng-value="1" ng-model="prodTypeWid.isEnable" ng-checked="1" checked="checked">可用							</label> 
							<label class="radio-inline"> <input type="radio" name="isEnable" id="optionsRadios2" ng-value="0" ng-model="prodTypeWid.isEnable" ng-checked="0">禁用
							</label>
						</div>
					</div>
				</div>
			</div>
			<div>
                 <div class="row">
                     <div class="col-md-offset-3 col-md-9">
                     	<a href="#/prodTypeWid/list" class="btn default"> <i class="fa fa-reply"></i> 返回</a> 
						<a href="#" class="btn  red" ng-click="toDeleteProdTypeWid()" ng-show="showDelBtn"> 
							<i class="fa fa-minus"></i> 
							<span class="hidden-480">删除</span>
						</a> 
						<a type="button" class="btn blue" ng-click="toSaveProdTypeWid()"> <i class="fa fa-check"></i> 保存</a>
                     </div>
                 </div>
             </div>

		</form>
		<!-- END FORM-->
	</div>
</div>
