
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">首页</a>
           >静态内容管理
        </li>
       
    </ul>
  
</div>
<h3 class="page-title"> 静态内容管理
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-trophy"></i>静态内容列表 </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" >
					<table class="table table-striped table-bordered table-hover table-checkable" id="contentListDataTable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="2%">
                            	   No.
                            	</th>
                                <th width="30%">标题</th>
                                <th width="15%">类型</th>
                                <th width="15%">URL地址</th>
                                <th width="10%">更新人</th>
                                <th width="15%">更新时间</th>
                                <th width="8%">
                                   	 请选择
                                </th>
                            </tr>                         
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
    
</div>
<!-- END MAIN CONTENT -->
