<div ng-include="'./views/my/myHeader.html'" ng-controller="myHeaderCtrl"></div>

<div id="myDivList">
	<div data-ng-include="'./views/my/myWorkList.html'" id="myWorkListDiv" name="myDiv" ng-controller="myWorkListCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myWorkForm.html'" id="myWorkFormDiv" name="myDiv" ng-controller="myWorkFormCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myFav.html'" id="myFavDiv" name="myDiv" ng-controller="myFavCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myBalance.html'" id="myBalanceDiv" name="myDiv" ng-controller="myBalanceCtrl"   style="display: none;"></div>
	<div data-ng-include="'./views/my/myShopForm.html'" id="myShopFormDiv" name="myDiv" ng-controller="myShopFormCtrl"  style="display: none;"></div>
	<div data-ng-include="'./views/my/myWareList.html'" id="myWareListDiv" name="myDiv" ng-controller="myWareListCtrl"  style="display: none;"></div>
	<div data-ng-include="'./views/my/myInfo.html'" id="myInfoDiv" name="myDiv" ng-controller="myInfoCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myWareForm.html'" id="myWareFormDiv" name="myDiv" ng-controller="myWareFormCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myDrawForm.html'" id="myDrawFormDiv" name="myDiv" ng-controller="myDrawFormCtrl" style="display: none;"></div>
	<div data-ng-include="'./views/my/myPayForm.html'" id="myPayFormDiv" name="myDiv" ng-controller="myPayFormCtrl" style="display: none;"></div>
</div>

