
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">首页</a>
           >会员提现管理
        </li>
       
    </ul>
  
</div>
<h3 class="page-title"> 会员提现管理
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>会员提现申请列表 </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" >
					<table class="table table-striped table-bordered table-hover table-checkable" id="userDrawListDataTable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="2%">
                            	   No.
                            	</th>
                                <th width="10%">用户名</th>
                                <th width="10%">提现金额</th>
                                <th width="6%">状态</th>
                                <th width="10%">用户说明</th>
                                <th width="10%">审批说明</th>
                                <th width="12%">申请时间</th>
                                <th width="12%">处理时间</th>
                                <th width="8%">处理人</th>
                                <th width="6%">
                                   	 操作
                                </th>
                            </tr>                         
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
    
</div>
<!-- END MAIN CONTENT -->
