
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">首页</a>
           >
			系统使用帮助
        </li>
    </ul>
   
</div>
<h3 class="page-title"> 系统使用帮助
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-emoticon-smile"></i> 帮助文档列表 </div>
                    
                     <div class="portlet-body">
                <div class="table-container" >
					<table class="table table-striped table-bordered table-hover table-checkable" id="adminListDataTable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="2%">No.</th>
                                <th width="30%">文件链接</th>
                                <th width="50%">描述</th>
                            </tr>  
                            <tr>
                            	<td>
                            		1
                            	</td>
                            	<td>
                            		<a href="../doc/赛事说明.docx">赛事说明</a>
                            	</td>
                            	<td>
                            		赛事模块使用说明
                            	</td>
                            </tr>    
                             <tr>
                            	<td>
                            		2
                            	</td>
                            	<td>
                            		<a href="../doc/瓶库说明.docx">瓶库说明</a>
                            	</td>
                            	<td>
                            		瓶库模块使用说明
                            	</td>
                            </tr>      
                             <tr>
                            	<td>
                            		3
                            	</td>
                            	<td>
                            		<a href="../doc/权限说明.docx">权限说明</a>
                            	</td>
                            	<td>
                            		权限模块使用说明
                            	</td>
                            </tr>   
                            <tr>
                            	<td>
                            		4
                            	</td>
                            	<td>
                            		<a href="../doc/网站静态内容管理.docx">静态页面设置说明</a>
                            	</td>
                            	<td>
                            		权限模块使用说明
                            	</td>
                            </tr>                                   
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
               
						
        </div>
        <!-- End: life time stats -->
    </div>
    
</div>
<!-- END MAIN CONTENT -->
