<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzsoftware.pet.dao.AdminDao">
	<cache type="com.gzsoftware.pet.entity.vo.RedisCache" />
	<resultMap type="com.gzsoftware.pet.entity.po.Admin" id="AdminResultMap">
		<result column="ID" jdbcType="INTEGER" property="id" />
		<result column="HEAD_FILE_ID" jdbcType="INTEGER" property="headFileId" />
		<association property="headFile" column="HEAD_FILE_ID"
			javaType="UploadFile" fetchType="eager"
			select="com.gzsoftware.pet.dao.UploadFileDao.getUploadFile" />
		<collection property="roleList" column="id" ofType="Role" fetchType="lazy"
			javaType="list" select="com.gzsoftware.pet.dao.RoleDao.getRoleListByAdminId" />
	</resultMap>

	<select id="login" parameterType="com.gzsoftware.pet.entity.po.Admin"
		resultType="Admin" resultMap="AdminResultMap">
		select *
		from ADMIN where 1=1 and
		ACCOUNT=#{account} and PASSWORD=#{password}
	</select>

	<select id="getAdminList" parameterType="com.gzsoftware.pet.entity.vo.DataTablesRequest"
		resultType="Admin" resultMap="AdminResultMap">
		select * from ADMIN where 1=1
		<if test="condition!=null">
			<if test="condition.adminName!='' and condition.adminName!=null">
				and ADMIN_NAME like CONCAT('%',#{condition.adminName,
				jdbcType=VARCHAR},'%')
			</if>
			<if test="condition.isEnabled!=''and condition.isEnabled!=null">
				and IS_ENABLED = #{condition.isEnabled}
			</if>
		</if>
		<if test="orderBySql!=null and orderBySql!=''">
			order by ${orderBySql}
		</if>
		limit ${start},${length}
	</select>

	<select id="countAll" parameterType="com.gzsoftware.pet.entity.vo.DataTablesRequest"
		resultType="Integer">
		select count(*) from ADMIN where 1=1
		<if test="condition!=null">
			<if test="condition.adminName!='' and condition.adminName!=null">
				and ADMIN_NAME like CONCAT('%',#{condition.adminName,
				jdbcType=VARCHAR},'%')
			</if>
			<if test="condition.isEnabled!=''and condition.isEnabled!=null">
				and IS_ENABLED = #{condition.isEnabled}
			</if>
		</if>

	</select>

	<select id="getAdmin" parameterType="java.lang.Integer"
		resultType="Admin" resultMap="AdminResultMap">
		select * from ADMIN where ID = #{id}
	</select>
	
	<!-- get small admin -->
	<select id="getSmAdmin" parameterType="java.lang.Integer"
		resultType="Admin" resultMap="AdminResultMap">
		select ACCOUNT,ADMIN_NAME from ADMIN where ID = #{id}
	</select>

	<update id="updateAdminLoginInfo" parameterType="Admin">
		UPDATE ADMIN SET
		LOGIN_COUNT = LOGIN_COUNT + 1,LAST_LOGIN_TIME = now()
		WHERE ID = #{id}
	</update>

	<insert id="addAdmin" parameterType="Admin" useGeneratedKeys="true"
		keyProperty="id">
		insert into ADMIN(ACCOUNT, PASSWORD,
		ADMIN_NAME,HEAD_FILE_ID,
		UPDATE_TIME,LAST_LOGIN_TIME,LAST_LOGIN_IP,LOGIN_COUNT,IS_ENABLED)
		values(#{account}, #{password}, #{adminName},#{headFileId},
		#{updateTime},#{lastLoginTime},#{lastLoginIp},0,1)
	</insert>


	<update id="updateAdmin" parameterType="Admin">
		UPDATE ADMIN SET
		ACCOUNT=#{account},
		PASSWORD=#{password},
		ADMIN_NAME=#{adminName},
		UPDATE_TIME =#{updateTime},
		LAST_LOGIN_TIME=#{lastLoginTime},
		HEAD_FILE_ID=#{headFileId},
		LAST_LOGIN_IP=#{lastLoginIp},
		LOGIN_COUNT=#{loginCount},
		IS_ENABLED=#{isEnabled}
		WHERE ID = #{id}
	</update>

	<delete id="deleteAdmin" parameterType="java.lang.Integer">
		delete from ADMIN where
		ID = #{adminID}
	</delete>


</mapper> 